/* * {
  outline: 3px solid black;
} */

body {
  width: 60%;
  margin: auto;
  text-align: center;
}

section {
  /* outline: 3px solid red; */
  height: 500px;
}
input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
}

#login {
  width: 100%;
  background-color: #f85f6a;
  color: white;
  font-weight: bold;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#login:hover {
  background-color: #c54b53;
}
