/* * {
  outline: 3px solid black;
} */

/* farby gefco
    zlta:   #ffcd00
    modra:  #00538B */

h1 {
  padding: 20px 0;
  margin-top: 150px;
  text-align: left;
  font-family: Georgia, "Times New Roman", Times, serif;
}
body {
  width: 60%;
  margin: auto;
  text-align: center;
}
form {
  text-align: center;
}

section p {
  /* outline: 3px solid red; */
  padding: 50px 0;
  text-align: left;
  color: #00538b;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p a {
  color: #f85f6a;
}

.spodok {
  width: 100%;
  padding: 20px;
  margin: 10px 0;
  display: inline-block;
  border: none;
  border-bottom: 3px solid grey;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.spodok:focus {
  outline: none;
  border-bottom: 3px solid #00538b;
}

#login {
  width: 100%;
  background-color: #00538b;
  color: white;
  font-weight: bold;
  padding: 20px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#login:hover,
#logout:hover,
#hladat:hover {
  background-color: #012a46;
}

#logout {
  background-color: #00538b;
  color: white;
  font-weight: bold;
  padding: 20px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#hladat {
  background-color: #00538b;
  color: white;
  font-weight: bold;
  padding: 20px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cislo {
  width: fit-content;
  border: 3px solid #ffcd00;
  padding: 20px;
  margin: 50px 0;
  display: inline-block;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cislo:focus {
  border: 3px solid #00538b;
}

.wrapper {
  outline: 3px solid #ffcd00;
}
ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
li {
  background-color: #00538b;
  font-weight: bold;
  margin: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
li:hover {
  background-color: #012a46;
}

li a {
  text-decoration: none;
  text-align: center;
  color: white;
  display: block;
  padding: 20px 0;
}

.success {
  font-size: 50px;
  color: #4bb543;
  font-weight: bold;
}

.fail {
  font-size: 50px;
  color: #fc100d;
  font-weight: bold;
}

table {
  outline: 3px solid #ffcd00;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
}

td,
th {
  text-align: center;
  padding: 8px 0;
}

table tr:nth-child(even) {
  background-color: #dddddd;
}

td a {
  text-decoration: none;
  font-weight: bold;
  color: #00538b;
}

td a:hover {
  color: #ffcd00;
}
